{% extends "auctions/layout.html" %}

{% block body %}
<div class="creat">
    <h2>Creat new Listing</h2>

    <form action="{% url 'creat' %}" method="POST">
        {% csrf_token %}
        <div id="log-in" class="form-group">
            <input autofocus class="form-control" type="text" name="title" placeholder="Add a title">
        </div>
        <div id="log-in" class="form-group">
            <input autofocus class="form-control" type="url" name="url" placeholder="Add image url">
        </div>
        <div id="log-in" class="form-group">
            <input autofocus class="form-control" type="number" name="bid" placeholder="Add a starting bid">
        </div>
        <div id="log-in" class="form-group">
            <textarea class="form-control" name="des" id="description" rows="5" placeholder="description"></textarea>
        </div>
        <div id="log-in" class="form-group">
            <label for="">categories</label>
            <select class="form-control" name="ctg" id="ctg">
                <option value="cars">categories</option>
                <option value="cars">cars</option>
                <option value="real estate">real estate</option>
                <option value="Electronics">Electronics</option>
                <option value="Toys">Toys</option>
                <option value="Fashion">Fashion</option>
            </select>
        </div>

        <input id="log-in" class="btn btn-primary" type="submit" value="submit">
    </form>
</div>

{% endblock %}